{{- $data := partial "get-data.html" . -}}
{{- $banner := index $data.homepage.hubBanners "games" | default dict -}}
{{- $hubTitle := $banner.title | default (i18n "footer_games") -}}
{{- $hubSubtitle := $banner.description | default "" -}}
{{ partial "home/hub-page.html" (dict
  "page" .
  "title" $hubTitle
  "subtitle" $hubSubtitle
  "items" $data.games.data
  "iconDir" "games"
  "homeCategorySlug" "games-fun"
  "defaultPhosphorIcon" "game-controller"
  "searchID" "games"
  "searchPlaceholder" (i18n "hub_search_games")
  "countLabel" (i18n "hub_count_games")
  "navActive" "games"
  "banner" $banner
) }}
