<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TPJD6283');</script>
    <!-- End Google Tag Manager --> 
    <script type="application/ld+json">
        {
        "@context": "https://codefrydev.in/",
        "@type": "Organization",
        "image": "https://codefrydev.in/Assets/Icons/IconCodefrydev.svg",
        "url": "https://codefrydev.in/",
        "logo": "https://codefrydev.in/Assets/Icons/IconCodefrydev.svg",
        "name": "Codefrydev",
        "description": "A place for ",
        "email": "prashant@codefrydev.in", 
        "numberOfEmployees": {
            "@type": "QuantitativeValue",
            "minValue": 2,
            "maxValue": 5
        }
        }
        </script>
    <script src="https://kit.fontawesome.com/c08977e70f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/projects/Template/style.css">

    <title>This is a Template For Detail Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Modify Beblow -->

    
    <link rel="canonical" href="https://codefrydev.in" />
    <!-- Primary Meta Tags --> 
    <meta name="title" content="Code Fry Dev" />
    <meta name="description"
        content="A place for learning programming laguage by creating Software, Games, Art and Animation" />
    <meta name="keywords" content="Software, Games, Art, Animation" />
    <meta name="robots" content="index, follow" />
    <meta name="copyright" content="" />
    <meta name="language" content="EN" />
    <meta name="distribution" content="global" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta name="og:description"
        content="A place for learning programming laguage by creating Software, Games, Art and Animation" />
    <meta property="og:url" content="https://codefrydev.in" />
    <meta property="og:title" content="Code Fry Dev" />
    <meta name="og:image" content="https://codefrydev.in/Assets/Icons/IconCodefrydev.svg" />

    <!-- Twitter -->
    <meta property="twitter: card" content="summary_large_image" />
    <meta property="twitter:url" content="https://codefrydev.in" />
    <meta property="twitter:title" content="Code Fry Dev" />
    <meta name="twitter:description"
        content="A place for learning programming laguage by creating Software, Games, Art and Animation" />
    <meta name="twitter:image" content="https://codefrydev.in/Assets/Icons/IconCodefrydev.svg" />

    <meta name="generator" content="codefrydev.in">
    <!-- End Of Meta Tag -->

    <!-- Security Headers -->
    <meta http-equiv="Strict-Transport-Security" content="max-age=31536000">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">

    <meta name="referrer" content="origin">

    <!-- End Security Headers -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- Favicon start -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon end --> 
</head>

<body>

    <main>
        <h1 class="sticky">This is a Template For Detail Page<br><br>
            <a class="icon" href="https://codefrydev.in" title="Home">
                <img src="/favicon.ico">
            </a>
            <a class="icon" href="https://codefrydev.in" title="other writings">
                <img src="https://i.postimg.cc/T1SB6dgh/32document.png">
            </a>
            <a class="icon" href="https://codefrydev.in" title="my blog">
                <img src="https://i.postimg.cc/RCbkfRy9/32newspaper.png">
            </a>
            <a class="icon" href="https://codefrydev.in" title="find me elsewhere">
                <img src="https://i.postimg.cc/ncj61mfm/32hyperlink.png">
            </a>
        </h1>

        <div style="text-align: center; font-size: 12px; padding-top: 10px;">
            Updated On 26/0/2024
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id posuere justo, id euismod leo. Orci
            varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ac justo nisi. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.
            <a class="one" href="https://www.youtube.com/watch?v=0zkRwh-J-kI">
                Vivamus eget lacinia neque, at mollis nibh.
            </a>
            Pellentesque euismod id augue nec malesuada. Suspendisse accumsan, massa vitae malesuada tincidunt, diam
            diam gravida metus, mattis ultrices ante diam non lorem.
        </p>

        <p class="plinetwo">Maecenas eleifend purus in mattis vestibulum. Pellentesque diam ligula, sagittis a magna
            vitae, ultrices malesuada nibh. Donec ut sodales neque, sit amet ultrices sem. Nullam euismod justo leo, non
            placerat augue mollis at. Fusce vitae tempus odio.
            <a aria-describedby="footnote-label" href="#footnotes" id="footnotes-ref">
                Nulla justo neque, elementum eget leo lobortis, gravida vestibulum est.
            </a> Sed at tortor augue. Donec iaculis a risus id volutpat. Aenean varius diam quis augue mollis, non
            auctor lectus
            viverra. Etiam placerat gravida pulvinar. Donec nec massa mattis, volutpat mauris eget, consectetur quam.
            Aenean vel ante id ante finibus lacinia eu eu eros.
        </p>

        <p class="plinetwo">
            Aliquam convallis enim id leo semper, nec consectetur urna laoreet. Quisque ut tempor dolor.
            Donec gravida diam et arcu faucibus eleifend. Curabitur hendrerit pretium felis, sit amet accumsan nunc
            varius quis. Quisque fringilla pretium ante at molestie. Duis vestibulum ipsum sit amet dui bibendum, eget
            interdum mauris efficitur. Nam ornare lorem vehicula, porttitor nibh ut, consequat enim. Maecenas ultrices
            nec elit quis fringilla. Nulla efficitur odio velit, vel dignissim ante gravida sed.
            <a class="two" href="https://loremipsum.io">
                Pellentesque vel rutrum odio.
            </a>
            Pellentesque viverra, massa eu auctor cursus, diam turpis suscipit neque, eget scelerisque risus risus at
            ex. Curabitur eu dui ex. Donec vehicula,
            orci sed faucibus rhoncus, tellus nulla egestas risus, quis egestas sapien libero nec metus. Sed tempor
            lacus ac libero venenatis, a vehicula lacus mollis. Maecenas blandit lorem ut ligula elementum lacinia nec
            id ante.
        </p>

        <p>
            Pellentesque lobortis nisl nibh, quis volutpat leo maximus vitae. Phasellus efficitur mi et lacus lacinia
            molestie. Suspendisse dictum pretium metus nec finibus.
            <a aria-describedby="footnote-label" href="#css" id="css-ref">
                Nam lacinia, arcu at commodo ultricies, sem lectus rutrum augue, a sodales ante turpis non est.
            </a>
            Mauris ultrices mi metus, vitae fringilla augue tristique sed. Quisque venenatis pellentesque
            massa vel ornare. Phasellus venenatis dui nec venenatis fringilla.
        </p>

        <p class="plinetwo">
            Aliquam porttitor ipsum et orci posuere euismod. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Quisque elementum ipsum turpis, non luctus purus
            commodo ut. Suspendisse ac nunc quis dolor ultrices convallis non maximus massa.
            <a aria-describedby="footnote-label" href="#css-counters" id="css-counters-ref">
                Aliquam
            </a>
            lobortis augue sed dui dapibus, in luctus odio fermentum. Praesent pharetra interdum sem, convallis faucibus
            ante. Proin
            euismod sem scelerisque semper imperdiet. Fusce eu elit ut nisl cursus posuere. Maecenas aliquam nunc
            turpis, sit amet blandit leo consequat sit amet. Duis scelerisque vel erat ac tempus. Maecenas quis arcu
            vitae diam vestibulum semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
        </p>
    </main>

    <footer>
        <hr>
        <h2>Footnotes</h2>
        <div class="foottext">
            <ol>
                <li id="footnotes">Footnotes are notes placed at the bottom of a page. They
                    cite references or comment on a designated part of the text above it.
                    <a class="footnotegoback" href="#footnotes-ref" aria-label="Back to content">↵</a>
                </li>

                <li id="css">Cascading Style Sheets</li>

                <li id="css-counters">CSS counters are, in essence, variables maintained by
                    CSS whose values may be incremented by CSS rules to track how many times
                    they're used.</li>
            </ol>
        </div>
    </footer>

    <main>
        <div style="text-align: right; font-size: 20px; margin-bottom: 20px; margin-right: 20px; margin-top: -2rem">
            <button class="button button1" onclick="history.back()">Go Back</button>
        </div>
    </main>

</body>

</html>