<!DOCTYPE html>
<html lang="en">
<head> 
    {{ partial "header.html" . }} 
    <link rel="stylesheet" href="/css/credit.css">
</head>
<body style="background-color: #e5e9f4;" >
    <header>
        <h1 onclick="window.location.href='/'">
            <img style="align-items: center;" src="/images/IconCodefrydev.svg" alt="Codefrydev Logo" height="96px">
            <br/>
            {{ .Title }}
        </h1>
    </header>
    <main>
        <section>
            <ol class="cards">
                {{ range .Site.Data.credit.cards }}
                <li class="card" style="--accent-color: {{ .accent_color }}" onclick="window.location.href='{{ .url }}'">
                    <h2>{{ .title }}</h2>
                    <p>{{ .content }}</p>
                    <i class="{{ .icon }}"></i>
                </li>
                {{ end }}
            </ol>
        </section>
    </main>
</body>
</html>