<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "header.html" . }}
    {{ with resources.Get "css/home.css" }}
      {{ $minifiedCSS := . | resources.Minify }}
      <link rel="stylesheet" href="{{ $minifiedCSS.RelPermalink }}">
    {{ end }}
    <link rel="stylesheet" href="/css/internal.css">
</head>
<body>
    {{ partial "skip-link.html" . }}
    {{ partial "page-header.html" . }}
    <main id="main-content" role="main">
        {{ .Content }}
    </main>
    {{ partial "footer.html" . }}
    <script src="/js/theme.js"></script>
</body>
</html>
