<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/about.css" | relURL }}">
</head>

<body style="background-color: #e5e9f4;">
    <header>
        <h1 onclick="window.location.href='/'">
            <img style="align-items: center;" src="/images/IconCodefrydev.svg" alt="Codefrydev Logo" height="96px">
            <br/>
            {{ .Title }}
        </h1>
    </header>
    <main>
        <section>
            <ol class="cards">
            {{ range sort .Pages "Weight" }}
                <li class="card">
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ .Params.profile_image }}" alt="{{ .Title }}" class="profile-img">
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Params.subtitle }}</p>  <!-- Added user quote/description -->
                    </a>
                </li>
            {{ end }}
            </ol>
        </section>
    </main>
</body>

</html>
