<!DOCTYPE html>
<html lang="en">
<head> 
    {{ partial "header.html" . }} 
    <meta name="description" content="Learn about CodeFryDev - your ultimate destination for diverse digital content, tools, games, and educational resources. Discover our mission and team.">
    <meta name="keywords" content="about codefrydev, codefrydev team, digital tools, web development, mobile apps, games, tutorials">
    <title>About - CodeFryDev | Learn More About Us</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body style="background-color: #e5e9f4;" >
    <header>
        <h1 onclick="window.location.href='/'">
            <img src="/images/IconCodefrydev.svg" alt="Codefrydev Logo" height="80px">
            <span>{{ .Title }}</span>
        </h1>
    </header>
    <main>
        <section>
            <ol class="cards">
                {{ range .Site.Data.about.cards }}
                <li>
                    <a class="card" href="{{ .url }}" style="--accent-color: {{ .accent_color }}">
                        <h2>{{ .title }}</h2>
                        <p>{{ .content }}</p>
                        <i class="{{ .icon }}"></i>
                    </a>
                </li>
                {{ end }}
            </ol>
        </section>
    </main>
</body>
</html>