<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "Codefrydev",
    "url": "https://codefrydev.in/",
    "mainEntity": {
    "@type": "ItemList",
    "itemListElement": [
        {
        "@type": "ListItem",
        "position": 1,
        "item": {
            "@type": "Product",
            "name": "Product 1",
            "image": "https://codefrydev.in/images/product1.jpg",
            "description": "Description of Product 1",
            "sku": "12345",
            "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "29.99",
            "availability": "https://schema.org/InStock"
            }
        }
        },
        {
        "@type": "ListItem",
        "position": 2,
        "item": {
            "@type": "Product",
            "name": "Product 2",
            "image": "https://codefrydev.in/images/product2.jpg",
            "description": "Description of Product 2",
            "sku": "67890",
            "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "49.99",
            "availability": "https://schema.org/InStock"
            }
        }
        }
    ]
    },
    "breadcrumb": {
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
        "@type": "ListItem",
        "position": 1,
        "item": {
            "@id": "https://yourwebsite.com",
            "name": "Home"
        }
        },
        {
        "@type": "ListItem",
        "position": 2,
        "item": {
            "@id": "https://codefrydev.in/category",
            "name": "Category"
        }
        },
        {
        "@type": "ListItem",
        "position": 3,
        "item": {
            "@id": "https://codefrydev.in/category/product",
            "name": "Product"
        }
        }
    ]
    },
    "potentialAction": {
    "@type": "SearchAction",
    "target": "https://codefrydev.in/Updates/tags/{search_term_string}",
    "query-input": "required name=search_term_string"
    }
}
</script>

