<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "header.html" . }}
    <link href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" rel="stylesheet" crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/games.css">
</head>

<body style="background-color: #e5e9f4;">
    <main>
        <div class="MainButtonParent"> 
            <i  style="align-items: center;" class="fa-solid fa-palette" height="96px" onclick="window.location.href='/'"></i>
          </div>
          <h3 style="align-items: center;">Chitra Kala</h3>
          <h4 style="align-items: center;"></h4>
          
          <div class="buttons">
            {{ range .Site.Data.designlab.data }}
              <button class="neumorphic hapticButton" onclick="window.location.href='{{ .url }}'">
                <i class="{{ .icon }}"></i>
                <span>{{ .name }}</span>
              </button>
            {{ end }}
          </div>
    </main>
    <script src="js/feedback.js" ></script>
</body>

</html>