<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "header.html" . }}
  {{ with resources.Get "css/home.css" }}
    {{ $minifiedCSS := . | resources.Minify }}
    <link rel="stylesheet" href="{{ $minifiedCSS.RelPermalink }}">
  {{ else }}
    {{ warnf "The CSS file 'css/home.css' was not found." }}
  {{ end }}
</head>
<body style="background-color: #e5e9f4;">

  <header class="page-header">
    <a href="/" aria-label="Codefrydev Homepage">
      <img fetchpriority=high src="images/IconCodefrydev.svg" alt="Codefrydev Logo" height="96px">
    </a>
    <h1>Code Fry Dev<sup style="font-size: small; font-weight: bold;"> Alpha</sup></h1>
    <p class="tagline">Tools, Games, Art, Animation</p>
  </header>

  <main id="main-content">
    {{ range .Site.Data.home.categories }}
      <section class="category-section">
        <h2 class="category-title">{{ .name }}</h2>
        <div class="button-grid">
          {{ range .items }}
            <a href="{{ .url }}" class="neumorphic-button hapticButton">
              <img src="images/home/{{ .icon }}.svg" alt="{{ .icon }}" class="button-icon" loading="lazy">
              <span>{{ .name }}</span>
            </a>
          {{ end }}
        </div>
      </section>
    {{ end }}
  </main>
  
  <script src="js/feedback.js" ></script>
</body>
</html>