<span class="theme-toggle-nav__icon theme-toggle-nav__icon--light" aria-hidden="true">
  {{ partial "icon.html" (dict "name" "sun" "weight" "bold" "class" "theme-toggle-nav__glyph") }}
</span>
<span class="theme-toggle-nav__icon theme-toggle-nav__icon--glass" aria-hidden="true">
  {{ partial "icon.html" (dict "name" "drop" "weight" "bold" "class" "theme-toggle-nav__glyph") }}
</span>
<span class="theme-toggle-nav__icon theme-toggle-nav__icon--dark" aria-hidden="true">
  {{ partial "icon.html" (dict "name" "moon" "weight" "bold" "class" "theme-toggle-nav__glyph") }}
</span>
